In [12]:
7//2

3

In [13]:
from __future__ import division

In [6]:
a = 'one way of writing a string' 
b = "another way"
c = '''This is a r\t multiline string'''

In [5]:
#Multi-Line Statements
total = 'item_one ' + \
'item_two ' + \
'item_three'
print total

item_one item_two item_three

Multiple line in single statement

In [1]:
import sys; x = 'foo'; sys.stdout.write(x + '\n')

foo

In [3]:
a = b= c = 1 #Multiple assignment
print a,b,c

1 1 1

In [5]:
a, b, c = 'John', 1, 2 #Another way of doing Multiple assignment
print a,b,c

John 1 2

Python has five standard data types- Numbers, String, List, Tuple, Dictionary

In [8]:
#You can delete a single object or multiple objects by using the del statement.
#For example-
del var
del var_a, var_b

In [10]:
#Basic String operation
str = 'Hello World!'
print (str) # Prints complete string
print (str[0]) # Prints first character of the string
print (str[2:5]) # Prints characters starting from 3rd to 5th
print (str[2:]) # Prints string starting from 3rd character
print (str * 2) # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [11]:
#Basic List operation
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list) # Prints complete list
print (list[0]) # Prints first element of the list
print (list[1:3]) # Prints elements starting from 2nd till 3rd
print (list[2:]) # Prints elements starting from 3rd element
print (tinylist * 2) # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [13]:
#Basic Tuple operations
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2)
tinytuple = (123, 'john')
print (tuple) # Prints complete tuple
print (tuple[0]) # Prints first element of the tuple
print (tuple[1:3]) # Prints elements starting from 2nd till 3rd
print (tuple[2:]) # Prints elements starting from 3rd element
print (tinytuple * 2) # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists

In [15]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2)
list = [ 'abcd', 786 , 2.23, 'john', 70.2]
tuple[2] = 1000 # Invalid syntax with tuple
list[2] = 1000 # Valid syntax with list

In [18]:
#Basic Dictionary operations
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one']) # Prints value for 'one' key
print (dict[2]) # Prints value for 2 key
print (tinydict) # Prints complete dictionary
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'dept': 'sales', 'code': 6734, 'name': 'john'}
['dept', 'code', 'name']
['sales', 6734, 'john']

Dictionaries have no concept of order among the elements. It is incorrect to say that the
elements are "out of order"; they are simply unordered.

In [19]:
#Basic Arithmetic Operations
a = 21
b = 10
c = 0
c = a + b
print ("Line 1 - Value of c is ", c)
c = a - b
print ("Line 2 - Value of c is ", c )
c = a * b
print ("Line 3 - Value of c is ", c)
c = a / b
print ("Line 4 - Value of c is ", c )
c = a % b
print ("Line 5 - Value of c is ", c)
a = 2
b = 3
c = a**b
print ("Line 6 - Value of c is ", c)
a = 10
b = 5
c = a//b
print ("Line 7 - Value of c is ", c)

('Line 1 - Value of c is ', 31)
('Line 2 - Value of c is ', 11)
('Line 3 - Value of c is ', 210)
('Line 4 - Value of c is ', 2)
('Line 5 - Value of c is ', 1)
('Line 6 - Value of c is ', 8)
('Line 7 - Value of c is ', 2)

In [22]:
#Conditional opertors
a = 21
b = 10
if ( a == b ):
    print ("Line 1 - a is equal to b")
else:
    print ("Line 1 - a is not equal to b")
if ( a != b ):
    print ("Line 2 - a is not equal to b")
else:
    print ("Line 2 - a is equal to b")
if ( a < b ):
    print ("Line 3 - a is less than b" )
else:
    print ("Line 3 - a is not less than b")
if ( a > b ):
    print ("Line 4 - a is greater than b")
else:
    print ("Line 4 - a is not greater than b")

a,b=b,a ; print ("values of a and b swapped. a becomes 10, b becomes 21")

if ( a <= b ):
    print ("Line 5 - a is either less than or equal to b")
else:
    print ("Line 5 - a is neither less than nor equal to b")
if ( b >= a ):
    print ("Line 6 - b is either greater than or equal to b")
else:
    print ("Line 6 - b is neither greater than nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
values of a and b swapped. a becomes 10, b becomes 21
Line 5 - a is either less than or equal to b
Line 6 - b is either greater than or equal to b

In [23]:
#Assignment opertaions
a = 21
b = 10
c = 0
c = a + b
print ("Line 1 - Value of c is ", c)
c += a
print ("Line 2 - Value of c is ", c )
c *= a
print ("Line 3 - Value of c is ", c )
c /= a
print ("Line 4 - Value of c is ", c )
c = 2
c %= a
print ("Line 5 - Value of c is ", c)
c **= a
print ("Line 6 - Value of c is ", c)
c //= a
print ("Line 7 - Value of c is ", c)

('Line 1 - Value of c is ', 31)
('Line 2 - Value of c is ', 52)
('Line 3 - Value of c is ', 1092)
('Line 4 - Value of c is ', 52)
('Line 5 - Value of c is ', 2)
('Line 6 - Value of c is ', 2097152)
('Line 7 - Value of c is ', 99864)

In [24]:
#Python bitwise operator
a = 60 # 60 = 0011 1100
b = 13 # 13 = 0000 1101
print ('a=',a,':',bin(a),'b=',b,':',bin(b))
c = 0
c = a & b;
# 12 = 0000 1100
print ("result of AND is ", c,':',bin(c))
c = a | b;
# 61 = 0011 1101
print ("result of OR is ", c,':',bin(c))
c = a ^ b;
# 49 = 0011 0001
print ("result of EXOR is ", c,':',bin(c))
c = ~a;
# -61 = 1100 0011
print ("result of COMPLEMENT is ", c,':',bin(c))
c = a << 2;
# 240 = 1111 0000
print ("result of LEFT SHIFT is ", c,':',bin(c))
c = a >> 2;
# 15 = 0000 1111
print ("result of RIGHT SHIFT is ", c,':',bin(c))

('a=', 60, ':', '0b111100', 'b=', 13, ':', '0b1101')
('result of AND is ', 12, ':', '0b1100')
('result of OR is ', 61, ':', '0b111101')
('result of EXOR is ', 49, ':', '0b110001')
('result of COMPLEMENT is ', -61, ':', '-0b111101')
('result of LEFT SHIFT is ', 240, ':', '0b11110000')
('result of RIGHT SHIFT is ', 15, ':', '0b1111')

In [25]:
#Logical operations
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]
if ( a in list ):
    print ("Line 1 - a is available in the given list")
else:
    print ("Line 1 - a is not available in the given list")
if ( b not in list ):
    print ("Line 2 - b is not available in the given list")
else:
    print ("Line 2 - b is available in the given list")

c=b/a

if ( c in list ):
    print ("Line 3 - a is available in the given list")
else:
    print ("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

In [26]:
#Identity Opertors
a = 20
b = 20
print ('Line 1','a=',a,':',id(a), 'b=',b,':',id(b))
if ( a is b ):
    print ("Line 2 - a and b have same identity")
else:
    print ("Line 2 - a and b do not have same identity")
if ( id(a) == id(b) ):
    print ("Line 3 - a and b have same identity")
else:
    print ("Line 3 - a and b do not have same identity")

b = 30

print ('Line 4','a=',a,':',id(a), 'b=',b,':',id(b))
if ( a is not b ):
    print ("Line 5 - a and b do not have same identity")
else:
    print ("Line 5 - a and b have same identity")

('Line 1', 'a=', 20, ':', 18358208, 'b=', 20, ':', 18358208)
Line 2 - a and b have same identity
Line 3 - a and b have same identity
('Line 4', 'a=', 20, ':', 18358208, 'b=', 30, ':', 18357968)
Line 5 - a and b do not have same identity

In [31]:
#Operator Precedence

a = 20
b = 10
c = 15
d = 5
print ("a:%d b:%d c:%d d:%d" % (a,b,c,d ))
e = (a + b) * c / d #( 30 * 15 ) / 5
print ("Value of (a + b) * c / d is ", e)
e = ((a + b) * c) / d # (30 * 15 ) / 5
print ("Value of ((a + b) * c) / d is ",e)
e = (a + b) * (c / d) # (30) * (15/5)
print ("Value of (a + b) * (c / d) is ",e)
e = a + (b * c) / d #20 + (150/5)
print ("Value of a + (b * c) / d is ",e)

a:20 b:10 c:15 d:5
('Value of (a + b) * c / d is ', 90)
('Value of ((a + b) * c) / d is ', 90)
('Value of (a + b) * (c / d) is ', 90)
('Value of a + (b * c) / d is ', 50)

Decision Making

In [33]:
#if Statement
var1 = 100
if var1:
    print ("1 - Got a true expression value")
print (var1)
var2 = 0
if var2:
    print ("2 - Got a true expression value")
print (var2)
print ("Good bye!")

1 - Got a true expression value
100
0
Good bye!

In [36]:
#if..else
amount=int(input("Enter amount: "))
if amount<1000:
    discount=amount*0.05
    print ("Discount",discount)
else:
    discount=amount*0.10
    print ("Discount",discount)
print ("Net payable:",amount-discount)

Enter amount: 500
('Discount', 25.0)
('Net payable:', 475.0)

In [37]:
#if..elif
amount=int(input("Enter amount: "))
if amount<1000:
    discount=amount*0.05
    print ("Discount",discount)
elif amount<5000:
    discount=amount*0.10
    print ("Discount",discount)
else:
    discount=amount*0.15
    print ("Discount",discount)
print ("Net payable:",amount-discount)

Enter amount: 5500
('Discount', 825.0)
('Net payable:', 4675.0)

In [40]:
#Nested if statement
num=int(input("enter number"))
if num%2==0:
    if num%3==0:
        print ("Divisible by 3 and 2")
    else:
        print ("divisible by 2 not divisible by 3")
else:
    if num%3==0:
        print ("divisible by 3 not divisible by 2")
    else:
        print("not Divisible by 2 not divisible by 3")

enter number12
Divisible by 3 and 2

In [41]:
#One ;ine If clause
var = 100
if ( var == 100 ) : print ("Value of expression is 100")
print ("Good bye!")

Value of expression is 100
Good bye!

In [43]:
#While loop
count = 0
while (count < 9):
    print ('The count is:', count)
    count = count + 1
print ("Good bye!")

('The count is:', 0)
('The count is:', 1)
('The count is:', 2)
('The count is:', 3)
('The count is:', 4)
('The count is:', 5)
('The count is:', 6)
('The count is:', 7)
('The count is:', 8)
Good bye!

In [44]:
#while..else
count = 0
while count < 5:
    print (count, " is less than 5")
    count = count + 1
else:
    print (count, " is not less than 5")

(0, ' is less than 5')
(1, ' is less than 5')
(2, ' is less than 5')
(3, ' is less than 5')
(4, ' is less than 5')
(5, ' is not less than 5')

In [1]:
#One line while
#!!Note we execute this, program goes into infinite loop 
flag = 1
#while (flag): print ('Given flag is really true!')
print ("Good bye!")

Good bye!

In [8]:
#for loop
for var in list(range(5)):
    print ('sndp: ',var)

('sndp: ', 0)
('sndp: ', 1)
('sndp: ', 2)
('sndp: ', 3)
('sndp: ', 4)

In [6]:
for letter in 'Python': # traversal of a string sequence
    print ('Current Letter :', letter)
print()
fruits = ['banana', 'apple', 'mango']
for fruit in fruits: # traversal of List sequence
    print ('Current fruit :', fruit)
print ("Good bye!")

('Current Letter :', 'P')
('Current Letter :', 'y')
('Current Letter :', 't')
('Current Letter :', 'h')
('Current Letter :', 'o')
('Current Letter :', 'n')
()
('Current fruit :', 'banana')
('Current fruit :', 'apple')
('Current fruit :', 'mango')
Good bye!

In [9]:
#iterating by sequence index
fruits = ['banana', 'apple','mango']
for index in range(len(fruits)):
    print ('Current fruit :', fruits[index])
print ("Good bye!")

('Current fruit :', 'banana')
('Current fruit :', 'apple')
('Current fruit :', 'mango')
Good bye!

In [13]:
#For and Else
numbers=[11,33,55,39,55,75,37,21,23,41,13]
for num in numbers:
    if num%2==0:
        print ('the list contains an even number')
        #break
else:
    print ('the list doesnot contain even number')

the list doesnot contain even number

In [24]:
#nested for loop
#import sys
k = []
for i in range(1,11):
    for j in range(1,11):
        k.append(i*j)
print (k)
print()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
()

In [26]:
#Break statement
for letter in 'Python': # First Example
    if letter == 'h':
        break
    print ('Current Letter :', letter)

var = 10 # Second Example
while var > 0:
    print ('Current variable value :', var)
    var = var -1
    if var == 5:
        break
print ("Good bye!")

('Current Letter :', 'P')
('Current Letter :', 'y')
('Current Letter :', 't')
('Current variable value :', 10)
('Current variable value :', 9)
('Current variable value :', 8)
('Current variable value :', 7)
('Current variable value :', 6)
Good bye!

In [28]:
no = int(input('any number: '))
numbers=[11,33,55,39,55,75,37,21,23,41,13]
for num in numbers:
    if num==no:
        print ('number found in list')
        break
else:
    print ('number not found in list')

any number: 8
number not found in list

In [29]:
#Continue statement
for letter in 'Python': # First Example
    if letter == 'h':
        continue
    print ('Current Letter :', letter)

var = 10 # Second Example
while var > 0:
    print ('Current variable value :', var)
    var = var -1
    if var == 5:
        continue
print ("Good bye!")

('Current Letter :', 'P')
('Current Letter :', 'y')
('Current Letter :', 't')
('Current Letter :', 'o')
('Current Letter :', 'n')
('Current variable value :', 10)
('Current variable value :', 9)
('Current variable value :', 8)
('Current variable value :', 7)
('Current variable value :', 6)
('Current variable value :', 5)
('Current variable value :', 4)
('Current variable value :', 3)
('Current variable value :', 2)
('Current variable value :', 1)
Good bye!

In [30]:
#Pass statement
for letter in 'Python': # First Example
    if letter == 'h':
        pass
    print ('Current Letter :', letter)

var = 10 # Second Example
while var > 0:
    print ('Current variable value :', var)
    var = var -1
    if var == 5:
        pass
print ("Good bye!")

('Current Letter :', 'P')
('Current Letter :', 'y')
('Current Letter :', 't')
('Current Letter :', 'h')
('Current Letter :', 'o')
('Current Letter :', 'n')
('Current variable value :', 10)
('Current variable value :', 9)
('Current variable value :', 8)
('Current variable value :', 7)
('Current variable value :', 6)
('Current variable value :', 5)
('Current variable value :', 4)
('Current variable value :', 3)
('Current variable value :', 2)
('Current variable value :', 1)
Good bye!

Iterator is an object, which allows a programmer to traverse through all the elements of a collection, regardless of its specific implementation. In Python, an iterator object implements two methods, iter() and next().
String, List or Tuple objects can be used to create an Iterator.

In [ ]:
import sys
list=[1,2,3,4]
it = iter(list) # this builds an iterator object
print (next(it)) #prints next available element in iterator
#Iterator object can be traversed using regular for statement
for x in it:
    print (x,)
#or using next() function
while True:
    try:
        print (next(it))
    except StopIteration:
        sys.exit() #you have to import sys module for this

#### Number ceil() Method
The ceil() method returns the ceiling value of x i.e. the smallest integer not less than x.

In [3]:
import math # This method is not accessibl\e directly hence need to import math module 
print ("math.ceil(-45.17) : ", math.ceil(-45.17))
print ("math.ceil(100.12) : ", math.ceil(100.12))
print ("math.ceil(100.72) : ", math.ceil(100.72))
print ("math.ceil(math.pi) : ", math.ceil(math.pi))

('math.ceil(-45.17) : ', -45.0)
('math.ceil(100.12) : ', 101.0)
('math.ceil(100.72) : ', 101.0)
('math.ceil(math.pi) : ', 4.0)

#### Number exp() Method

In [4]:
import math # This will import math module
print ("math.exp(-45.17) : ", math.exp(-45.17))
print ("math.exp(100.12) : ", math.exp(100.12))
print ("math.exp(100.72) : ", math.exp(100.72))
print ("math.exp(math.pi) : ", math.exp(math.pi))

('math.exp(-45.17) : ', 2.4150062132629406e-20)
('math.exp(100.12) : ', 3.0308436140742566e+43)
('math.exp(100.72) : ', 5.522557130248187e+43)
('math.exp(math.pi) : ', 23.140692632779267)

#### Number fabs() Method
The fabs() method returns the absolute value of x. Although similar to the abs() function, there are differences between the two functions. They are: 
1. abs() is a built in function whereas fabs() is defined in math module.
2. fabs() function works only on float and integer whereas abs() works with complex number also.

In [5]:
import math # This will import math module
print ("math.fabs(-45.17) : ", math.fabs(-45.17))
print ("math.fabs(100.12) : ", math.fabs(100.12))
print ("math.fabs(100.72) : ", math.fabs(100.72))
print ("math.fabs(math.pi) : ", math.fabs(math.pi))

('math.fabs(-45.17) : ', 45.17)
('math.fabs(100.12) : ', 100.12)
('math.fabs(100.72) : ', 100.72)
('math.fabs(math.pi) : ', 3.141592653589793)

#### Number floor() Method
The floor() method returns the floor of x i.e. the largest integer not greater than x.

In [6]:
import math # This will import math module
print ("math.floor(-45.17) : ", math.floor(-45.17))
print ("math.floor(100.12) : ", math.floor(100.12))
print ("math.floor(100.72) : ", math.floor(100.72))
print ("math.floor(math.pi) : ", math.floor(math.pi))

('math.floor(-45.17) : ', -46.0)
('math.floor(100.12) : ', 100.0)
('math.floor(100.72) : ', 100.0)
('math.floor(math.pi) : ', 3.0)

#### Number log() Method
The log() method returns the natural logarithm of x, for x > 0.

In [7]:
import math # This will import math module
print ("math.log(100.12) : ", math.log(100.12))
print ("math.log(100.72) : ", math.log(100.72))
print ("math.log(math.pi) : ", math.log(math.pi))

('math.log(100.12) : ', 4.6063694665635735)
('math.log(100.72) : ', 4.612344389736092)
('math.log(math.pi) : ', 1.1447298858494002)

#### Number log10() Method
The log10() method returns base-10 logarithm of x for x > 0.

In [9]:
import math # This will import math module
print ("math.log10(100.12) : ", math.log10(100.12))
print ("math.log10(100.72) : ", math.log10(100.72))
print ("math.log10(119) : ", math.log10(119))
print ("math.log10(math.pi) : ", math.log10(math.pi))

('math.log10(100.12) : ', 2.0005208409361854)
('math.log10(100.72) : ', 2.003115717099806)
('math.log10(119) : ', 2.0755469613925306)
('math.log10(math.pi) : ', 0.49714987269413385)

#### Number max() Method
The max() method returns the largest of its arguments i.e. the value closest to positive infinity.

In [2]:
print ("max(80, 100, 1000) : ", max(80, 100, 1000))
print ("max(-20, 100, 400) : ", max(-20, 100, 400))
print ("max(-80, -20, -10) : ", max(-80, -20, -10))
print ("max(0, 100, -400) : ", max(0, 100, -400))

('max(80, 100, 1000) : ', 1000)
('max(-20, 100, 400) : ', 400)
('max(-80, -20, -10) : ', -10)
('max(0, 100, -400) : ', 100)

#### Number min() Method
The method min() returns the smallest of its arguments i.e. the value closest to negative
infinity.

In [3]:
print ("min(80, 100, 1000) : ", min(80, 100, 1000))
print ("min(-20, 100, 400) : ", min(-20, 100, 400))
print ("min(-80, -20, -10) : ", min(-80, -20, -10))
print ("min(0, 100, -400) : ", min(0, 100, -400))

('min(80, 100, 1000) : ', 80)
('min(-20, 100, 400) : ', -20)
('min(-80, -20, -10) : ', -80)
('min(0, 100, -400) : ', -400)

#### Number modf() Method
The modf() method returns the fractional and integer parts of x in a two-item tuple. Both parts have the same sign as x. The integer part is returned as a float.

In [4]:
#Output: This method returns the fractional and integer parts of x in a two-item tuple. Both the parts have the same sign as x. The integer part is returned as a float.
import math # This will import math module
print ("math.modf(100.12) : ", math.modf(100.12))
print ("math.modf(100.72) : ", math.modf(100.72))
print ("math.modf(119) : ", math.modf(119))
print ("math.modf(math.pi) : ", math.modf(math.pi))

('math.modf(100.12) : ', (0.12000000000000455, 100.0))
('math.modf(100.72) : ', (0.7199999999999989, 100.0))
('math.modf(119) : ', (0.0, 119.0))
('math.modf(math.pi) : ', (0.14159265358979312, 3.0))

#### Number pow() Method
This method returns the value of xy.

In [5]:
import math # This will import math module
print ("math.pow(100, 2) : ", math.pow(100, 2))
print ("math.pow(100, -2) : ", math.pow(100, -2))
print ("math.pow(2, 4) : ", math.pow(2, 4))
print ("math.pow(3, 0) : ", math.pow(3, 0))

('math.pow(100, 2) : ', 10000.0)
('math.pow(100, -2) : ', 0.0001)
('math.pow(2, 4) : ', 16.0)
('math.pow(3, 0) : ', 1.0)

#### Number round() Method
round() is a built-in function in Python. It returns x rounded to n digits from the decimal point.

In [6]:
print ("round(70.23456) : ", round(70.23456))
print ("round(56.659,1) : ", round(56.659,1))
print ("round(80.264, 2) : ", round(80.264, 2))
print ("round(100.000056, 3) : ", round(100.000056, 3))
print ("round(-100.000056, 3) : ", round(-100.000056, 3))

('round(70.23456) : ', 70.0)
('round(56.659,1) : ', 56.7)
('round(80.264, 2) : ', 80.26)
('round(100.000056, 3) : ', 100.0)
('round(-100.000056, 3) : ', -100.0)

#### Number sqrt() Method

In [8]:
import math # This will import math module
print ("math.sqrt(100) : ", math.sqrt(100))
print ("math.sqrt(7) : ", math.sqrt(7))
print ("math.sqrt(math.pi) : ", math.sqrt(math.pi))

('math.sqrt(100) : ', 10.0)
('math.sqrt(7) : ', 2.6457513110645907)
('math.sqrt(math.pi) : ', 1.7724538509055159)

### Random Number Functions

#### Number choice() Method

In [9]:
import random
print ("returns a random number from range(100) : ",random.choice(range(100)))
print ("returns random element from list [1, 2, 3, 5, 9]) : ", random.choice([1,
2, 3, 5, 9]))
print ("returns random character from string 'Hello World' : ",
random.choice('Hello World'))

('returns a random number from range(100) : ', 46)
('returns random element from list [1, 2, 3, 5, 9]) : ', 1)
("returns random character from string 'Hello World' : ", 'l')

#### Number randrange() Method

In [12]:
import random
# randomly select an odd number between 1-100
print ("randrange(1,100, 2) : ", random.randrange(1, 100, 2))
# randomly select a number between 0-99
print ("randrange(100) : ", random.randrange(100))

('randrange(1,100, 2) : ', 93)
('randrange(100) : ', 22)

#### Number random() Method

In [14]:
import random
# First random number
print ("random() : ", random.random())
# Second random number
print ("random() : ", random.random())

('random() : ', 0.6176309426152584)
('random() : ', 0.3253971481799681)

#### Number seed() Method

In [15]:
import random
random.seed()
print ("random number with default seed", random.random())
random.seed(10)
print ("random number with int seed", random.random())
random.seed("hello",2)
print ("random number with string seed", random.random())

('random number with default seed', 0.8423385582285264)
('random number with int seed', 0.5714025946899135)

TypeError: seed() takes at most 2 arguments (3 given)